@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");background-color: #6a4dff;font-family:'Encode Sans' !important;overflow-x:hidden}h6,p{font-size:14px;color:#ddd}a,button,input,textarea{outline:none !important}.ionicon path{pointer-events:none}.preloader{position:fixed;z-index:100000;background:radial-gradient(circle, #222121 0%, #000 100%);width:100%;height:100%;transition:0.6s ease}.preloader img{width:300px;transition:0.6s ease;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%)}.preloader-end{opacity:0;pointer-events:none}.rain{position:absolute;top:0;left:0;z-index:999999;width:100%;height:100%;opacity:0.2}.content{padding:10px}.content header{margin-bottom:25px}.content header .main-navbar{background:#000;box-shadow:0 0 30px #000;max-width:500px;margin:30px auto 0;padding:20px 0;border-radius:20px}.content header .nav a{color:#ddd;font-size:14px;transition:0.5s ease}.content header .nav a:hover,.content header .nav a:hover .ionicon path{color:#6a4dff}.content header .nav a.active,.content header .nav a.active svg path{color:#6a4dff;}.content header .nav .ionicon{margin-right: 5px}.content header .nav .ionicon path{color:#ddd;font-size:25px;display:inline-block;vertical-align:middle;transition:0.5s ease;margin-right:3px}.about-link:hover span svg path{fill: #6a4dff !important}.about-link.active span svg path{fill: #6a4dff !important}.content .container{color:#ddd;box-shadow:0 0 30px #000;padding:40px 40px;margin:0px auto 50px;border-radius:20px;background:#000}.content .container p{font-size:14px}.content .container p span{color:#6a4dff}.content .about{padding:50px}.content .about .row #pictures img{width:180px;filter:drop-shadow(0 -2px 4px #111);cursor:zoom-in;}.content .skillset .services-content{margin:60px 0 0}.content .skillset .services-content .services .service{margin:20px;background:#0c0c0c;padding:30px 50px;border-radius:15px}.content .skillset .services-content .services .service p{display:inline;color:#6a4dff}.content .skillset .services-content .services .service ul{list-style-type:none;border-radius:15px;padding-left:0;margin:20px 0 0}.content .skillset .services-content .services .service ul li{font-size:14px;margin:3px 0;transition:0.5s ease}.content .skillset .services-content .services .service ul li:hover{color:#6a4dff}.content .skillset .skills-group{margin:10px 0}.content .skillset .skills-group .skills .skill{display:inline-block !important;position:relative;margin:12px}.content .skillset .skills-group .skills .skill:first-child{margin-left:0}.content .skillset .skills-group .skills .skill .iconify{text-align:center}.content .skillset .skills-group .skills .skill button{width:40px;height:40px;border:none;color:#fff}@media (max-width: 768px){.content .skillset .services-content .services .service{padding:20px 30px}}.content .skillset .services-content .services .service ul li span{border-bottom: 1px solid #6a4dff}.content .projects .categories .category{margin:5px;background:#111;border:1px solid #222;border-radius:10px;padding:5px 10px;transition:0.5s ease;position:relative;text-decoration:none;color:#ddd}.content .projects .categories .category:hover,.content .projects .categories .category:hover span,.content .projects .categories .category:hover .ionicon path,.content .projects .categories .category:hover .iconify{color:#6a4dff;border-color:#6a4dff}.content .projects .categories .category.active{color:#6a4dff;border-color:#6a4dff}.content .projects .categories .category .ionicon path{display:inline-block;vertical-align:middle;transition:0.5s ease}.content .projects .categories .category .iconify{transition:0.5s ease}.content .projects .categories .category span{font-size:14px;transition:0.5s ease}.content .projects .categories .category .number{position:absolute;top:-6px;right:-6px;padding:2px 7px;font-size:10px;font-weight:500;background:#222;border-radius:100%}.content .projects .projects-grid{padding:0 5px;margin:20px 0 0}.content .projects .projects-grid .project{margin:13px 0}.content .projects .projects-grid .project .two-buttons{border:1px solid #bbb;width:100%;border-radius:5px;overflow:hidden;position:relative;box-shadow:1px 1px 3px 0 rgba(0,0,0,0.3)}.content .projects .projects-grid .project .two-buttons img{padding:5px;position:relative;top:0;left:0}.content .projects .projects-grid .project .two-buttons .ovrly{background:rgba(0,0,0,0.5);height:100%;left:0;position:absolute;top:0;width:100%;opacity:0;transition:all 0.3s}.content .projects .projects-grid .project .two-buttons .buttons{position:absolute;top:50%;left:50%;display:flex;flex-direction:column;transform:translate(-50%, -50%)}.content .projects .projects-grid .project .two-buttons .buttons .btn{background:#fff;background:#000;color:#fff !important;display:inline-block;border-radius:5px;font-size:14px;margin:5px 0;text-align:center;opacity:0;text-decoration:none;transform:scale(0);position:relative;transition:transform 0.6s, opacity 0.6s;transition:0.6s ease;color:transparent}.content .projects .projects-grid .project .two-buttons .buttons .btn:hover{color:#6a4dff !important}.content .projects .projects-grid .project .two-buttons:hover{border-color:#6a4dff;transition:0.8s ease}.content .projects .projects-grid .project .two-buttons:hover .buttons .btn{opacity:1;transform:scale(1);color:rgba(50,50,50,0.9)}.content .projects .projects-grid .project .two-buttons:hover .ovrly{opacity:1}.content .projects .projects-grid .project .overlay{width:100%;overflow:hidden;position:relative;box-shadow:1px 1px 3px 0 rgba(0,0,0,0.3)}.content .projects .projects-grid .project .overlay img{position:relative;width:100%;top:0;left:0}.content .projects .projects-grid .project .overlay .ovrly{border-radius:50%;background:rgba(0,0,0,0.5);height:100%;position:absolute;width:100%;left:-50%;top:-50%;transform:scale(0);transition:all 0.6s}.content .projects .projects-grid .project .overlay:hover .ovrly{transform:scale(3)}.content .projects .projects-grid .project .overlay:hover .buttons .btn{opacity:1}.content .project-single #pictures .next-picture{display:none !important}.content .project-single #pictures img{border:1px solid #6a4dff;border-radius:15px;padding:8px}.content .project-single h6{margin-bottom:0}.content .project-single a{color:#6a4dff;font-size:14px;text-decoration:none;margin-top:3px}.content .project-single a span svg{display:inline-block;vertical-align:middle;padding-bottom:5px;font-size:18px; }.content .project-single a span svg path{stroke: #6a4dff}.content .project-single table{max-width:450px}.content .project-single .lists .list{padding:30px 50px;margin:30px 20px;max-width:500px;border: 1px solid #6a4dff;border-radius: 15px;background: #0c0c0c;}.content .project-single .lists .list ul{border-radius:15px;list-style-type:none;border-radius:15px;padding-left:0;margin:20px 0 0}.content .project-single .lists .list ul li{font-size:14px;margin:3px 0;text-align:center;transition:0.5s ease}.content .project-single .lists .list ul li:hover{color:#6a4dff}.content .project-single .lists .list ul li span{border-bottom: 1px solid #6a4dff}.content .contact form input{width:95%;margin:10px 0;border:1px solid #222;background:#111;border-radius:10px;color:#6a4dff;padding:10px 11px;transition:0.6s ease;font-size:14px}.content .contact form input:hover,.content .contact form input:focus{color:#6a4dff;border-color:#6a4dff}.content .contact form textarea{width:95%;margin:10px 0;height:150px;font-size:14px;border:1px solid #222;background:#111;border-radius:10px;padding:10px 11px;transition:0.6s ease; color: #6a4dff}.content .contact form textarea:hover,.content .contact form textarea:focus{color:#6a4dff;border-color:#6a4dff}.content .contact form button{width:95%;padding:10px 0;margin:10px 0;font-size:14px;color:#6a4dff;background:#000;border-radius:10px;transition:0.6s ease;border:1px solid #6a4dff;box-shadow:none}.content .contact form button:hover,.content .contact form button:focus{color:#000;background:#6a4dff}.content .contact .contact-icons{margin:10px 0}.content .contact .contact-icons .contact-icon{margin:0 10px}.content .contact .contact-icons .contact-icon button{width:50px;height:50px;border:none}.content .contact .map{margin:10px 0;border-radius:10px;border:1px solid #95b200;padding:5px;width:95%;height:280px}.content .contact .map:focus{border: none}@media (max-width: 768px){.content .contact .col-md-6:nth-child(2){margin-top:30px}}.react-viewer-mask {background: rgba(0, 0, 0, 0.5);}.react-viewer-canvas img {transition: all 0.5s !important }.spinner-border {color: #6a4dff !important}

/*
    
  lime-color: #00ff40
  lime-invert: #ff00BD
  purple-color: #6a4dff
  purple-invert: #95b200

*/

.project .overlay {
  border-color: #6a4dff !important;
}

.content .projects .categories .category {
  cursor: text;
}

.content header .main-navbar {
  box-shadow:
    0 0 4px #000,
    inset -12px -12px 12px #191919,
    inset 12px 12px 12px #191919 !important;
}


.container {
  box-shadow:
    0 0 4px #000,
    inset -14px -14px 14px #191919,
    inset 14px 14px 14px #191919 !important;
}

.content .skillset .services-content .service {
  border: 1px solid #6a4dff;
} 

.content {
  position: relative;
  padding-bottom: 50px;
}

.select-lang {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, 0);  
 }

.select-lang button {
  border: none;
  width: 60px;
  height: 50px; 
}

.loading-dots {
  color: #6a4dff;
}

.languages .lang {
  display:inline-block !important;
  position:relative;
  margin: 10px 0; 
}
.languages .lang:first-child {
  margin-left:0  
}
.languages .lang .iconify {
  text-align:center
}
.languages .lang button {
  width:80px !important;
  height:80px !important;
  border:none;
  color:#fff
}

.about a {
  text-decoration: none;
}

.loading-dots::after {
  content: ' .';
  font-size: 18px;
  animation: dots 1s steps(5, end) infinite;
}

@media (min-width: 768px) {
  .personal-video {
    min-width: 670px;
    min-height: 400px; 
  }
}

@media (max-width: 768px) {
  .personal-video {
    max-width: 100%;
    height: auto; 
  }
}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);
  }
  40% {
    color: #6a4dff;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);
  }
  60% {
    text-shadow:
      .25em 0 0 #6a4dff,
      .5em 0 0 rgba(0,0,0,0);
  }
  80%, 100% {
    text-shadow:
      .25em 0 0 #6a4dff,
      .5em 0 0 #6a4dff;
  } 
}

.form-modal {
  position: fixed;
  top: 43%;
  left: 50%;
  transform: translate(-50%);
  background: #6a4dff;
  color: #000;
  box-shadow: 0 0 5px #000;
  padding: 20px 30px;
  border-radius: 15px;
  display: none;
}
.form-modal.active {
  -webkit-animation-name: slideIn; /* Fade in the background */
  -webkit-animation-duration: 1s;
  animation-name: slideIn;
  animation-duration: 1s
}
.form-modal.inactive {
  -webkit-animation-name: slideOut; /* Fade in the background */
  -webkit-animation-duration: 1s;
  animation-name: slideOut;
  animation-duration: 1s
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {top: -80px; opacity: 0} 
  to {top: 43%; opacity: 1}
}

@keyframes slideIn {
  from {top: -80px; opacity: 0}
  to {top: 43%; opacity: 1}
}

@-webkit-keyframes slideOut {
  from {top: 43%; opacity: 1}
  to {top: -80px; opacity: 0} 
}

@keyframes slideOut {
  from {top: 43%; opacity: 1}
  to {top: -80px; opacity: 0} 
}

/*@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}*/
